body {
    /* Full screen width and height */
    width: 100%;
    min-height: 100vh;
    /* Centers the container in the middle of the screen */
    justify-content: center;
    align-items: center; 
    margin: 0;
    background-color: rgb(0, 0, 0);
}
::-webkit-scrollbar {
    display: none;
}
  
#container {
    perspective: 20px;
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 10px;
    min-height: 100vh;
    background-image: url(spaces.png);
    background-size: cover;
    background-position: center;
    width: 100%;
}
  
#inner {
    width: 50%;
    height: 50%;
    transition: transform 0.3s;
}


#inner img {
    height: -webkit-fill-available;
    width: 100%;
    animation: shadow 2s infinite;
    filter: drop-shadow(0px 0px 5px #23f7dd);
}

#text {
    color: white;
}

section {
    min-height: 100vh;
    background-image: url(defi.png);
    background-size: cover;
    background-position: center;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
}

.prices {
    display: flex;
    flex-direction: row;
    flex: 40%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.defi {
    display: flex;
    width: 100%;
}

.defi img {
    width: 100%;
}

#animated-text, #animated-text2 {
    position: relative;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity 2s;
    color: white;
    font-family: 'KoHo', sans-serif;
    padding-top: 90px;
    font-size: x-large;
}

@keyframes fall {
    0% { top: 500px; }
    100% { top: 190%; }
}
  
.falling-object {
    position: absolute;
    width: 50px;
    height: 50px;
    animation: fall 3s linear infinite;
    z-index: -1;
    left: 400px;
}

.falling-object1 {
    position: absolute;
    width: 60px;
    height: 60px;
    animation: fall 2s linear infinite;
    z-index: -1;
    left: 200px;
}

.falling-object2 {
    position: absolute;
    width: 50px;
    height: 50px;
    animation: fall 4s linear infinite;
    color: white;
    z-index: -1;
    left: 800px;
}

.falling-object3 {
    position: absolute;
    width: 80px;
    height: 80px;
    animation: fall 5s linear infinite;
    color: white;
    z-index: -1;
    left: 300px;
}

.falling-object4 {
    position: absolute;
    width: 80px;
    height: 80px;
    animation: fall 4s linear infinite;
    color: white;
    z-index: -1;
    left: 1000px;
}

.falling-object5 {
    position: absolute;
    width: 80px;
    height: 40px;
    animation: fall 3s linear infinite;
    color: white;
    z-index: -1;
    left: 1300px;
}

.defiProjects {
    min-height: 90vh;
    background-image: url(defiEco.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.defi1, .defi2, .defi3, .defi4 {
    position: relative;
    width: 250px;
    height: 400px;
    padding: 25px;
    border-radius: 10px 0px 10px 0px;
}

.defi1:hover, .defi2:hover, .defi3:hover, .defi4:hover {
    position: relative;
    width: 250px;
    height: 400px;
    padding: 25px;
    border-radius: 10px 0px 10px 0px;
    filter: drop-shadow(0px 0px 6px #23f7dd);
}

.defi1 {
    background-image: url(xex.png);
    background-size: contain;
    background-position: center;
}

.defi2 {
    background-image: url(htm.png);
    background-size: contain;
    background-position: center;
}

.defi3 {
    background-image: url(ash.png);
    background-size: contain;
    background-position: center;
}

.defi4 {
    background-image: url(jex.png);
    background-size: contain;
    background-position: center;
}
